/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Large Title */
.title {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #fff;
}

/* Table of Contents */
.toc {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 15px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.toc li {
  margin: 0 15px;
}

.toc a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.toc a:hover {
  background-color: #e0a82d;
  color: #000;
  border-radius: 5px;
}

/* Main Content Sections */
.section {
  position: relative;
  min-height: 100vh;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 20px 10px;
}

.section:nth-child(odd) {
  background-color: rgba(248, 249, 250,0.4); /* Semi-transparent background */
}

.section:nth-child(even) {
  background-color: rgba(248, 249, 250, 0.4); /* Semi-transparent background */
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section img,
.section video {
  max-width: 45%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section p {
  max-width: 45%;
  margin: 10px;
}

/* Parallax Effect */
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/background.png') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
 /* Buy Me Coffee Button Styles */
  .buy-me-coffee,
  .copy-text, 
  .back-to-main-menu {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .buy-me-coffee:hover,
  .copy-text:hover, 
  .back-to-main-menu:hover {
    background-color: #e0a82d;
    text-decoration: underline;
  }

  .buy-me-coffee {
    bottom: 40px;
    right: 20px;
  }

  .copy-text {
    bottom: 20px;
    right: 20px;
  }

  .back-to-main-menu {
    bottom: 40px;
    left: 20px;
}