/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Font */
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto.ttf') format('truetype');
}

/* Custom Font */
@font-face {
  font-family: 'amiga';
  src: url('fonts/amiga4ever.ttf') format('truetype');
}

/* Custom Font */
@font-face {
  font-family: 'baba';
  src: url('fonts/BabaPro-Bold.ttf') format('truetype');
}
/* Custom Font */
@font-face {
  font-family: 'origin';
  src: url('fonts/OriginTech\ personal\ use.ttf') format('truetype');
}
/* Custom Font */
@font-face {
  font-family: 'origin';
  src: url('fonts/') format('truetype');
}

/* Body Styles */
body {
  font-family: 'roboto', sans-serif;
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Title Styles */
.title {
  font-family: 'origin', sans-serif;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: normal;
  margin-top: 20px;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 20px;
  width: 90%;
}

/* Content Styles */
.content {
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 10px; /* Adjust this value to ensure no overlap */
}

.content h2 {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.content a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #fdba2f;
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  text-align: center;
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}

.content a:hover {
  text-decoration: underline;
}

/* Video Container Styles */
#video-container {
  width: 100%;
  max-width: 50%;
  margin-bottom: 20px;
}

/* Video Styles */
#video-container video {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* Buy Me Coffee Button Styles */
.buy-me-coffee,
.copy-text {
  position: fixed;
  background-color: transparent;
  color: #fff;
  padding: 7px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.7em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.buy-me-coffee:hover,
.copy-text:hover {
  background-color: #e0a82d;
  text-decoration: underline;
}

.buy-me-coffee {
  bottom: 40px;
  right: 20px;
}

.copy-text {
  bottom: 20px;
  right: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    width: 80%;
  }

  .title {
    font-size: 1.8em;
  }

  .content h2 {
    font-size: 1.3em;
  }

  .content a {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Additional Media Queries for Specific Resolutions */
@media (max-width: 412px) and (max-height: 914px),
(max-width: 414px) and (max-height: 896px),
(max-width: 412px) and (max-height: 915px) {
  .title {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 1.2em;
  }

  .content {
    width: 90%;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .title {
    font-size: 1.4em;
  }

  .content h2 {
    font-size: 1.1em;
  }

  .content {
    width: 95%;
  }
}

@media (max-width: 430px) and (max-height: 932px) {
  .title {
    font-size: 1.6em;
  }

  .content h2 {
    font-size: 1.3em;
  }

  .content {
    width: 85%;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .title {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 1.2em;
  }

  .content {
    width: 90%;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .title {
    font-size: 1.4em;
  }

  .content h2 {
    font-size: 1.1em;
  }

  .content {
    width: 95%;
  }
}
