/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-image: url('images/image1.jpg'); /* Replace 'image1.jpg' with the path to your background image */
  background-size: cover; /* Make the background cover the entire page */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-attachment: fixed; /* Make the background image fixed relative to the viewport */
  background-position: center; /* Center the background image */
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px
}

.introBox, #quiz, #results {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Bevel effect */
  border: 5px solid #007BFF; /* Outline color */
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 30px;
}

h1, h2, h3 {
  color: #333;
}

label {
  display: block;
  margin: 15px 0;
  font-size: 18px;
  color: #333; /* Ensure label text color is black */
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

 /* Buy Me Coffee Button Styles */
  .buy-me-coffee,
  .copy-text, 
  .back-to-main-menu {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .buy-me-coffee:hover,
  .copy-text:hover, 
  .back-to-main-menu:hover {
    background-color: #e0a82d;
    text-decoration: underline;
  }

  .buy-me-coffee {
    bottom: 40px;
    right: 20px;
  }

  .copy-text {
    bottom: 20px;
    right: 20px;
  }

  .back-to-main-menu {
    bottom: 40px;
    left: 20px;
}
#results {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 900px; /* Increase width to accommodate images */
  margin: 20px;
}
#resultChassis, #resultWeapons {
  text-align: left; /* Ensure result text is aligned left */
}

.result-description {
  margin-top: 20px; /* Add margin for separation */
}

.resultImages {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 20px; /* Add margin for spacing */
}

.result-images img {
  max-width: 200px; /* Adjust image size as needed */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bevel effect */
}

  /* Responsive Design */
  @media (max-width: 768px) {
    .content {
      width: 80%;
    }

    .header h1 {
      font-size: 1.8em;
    }

    .content h2 {
      font-size: 1.3em;
    }

    .content a {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .introBox {
    width: 90%;
    padding: 15px;
  }

  .introBox h1 {
    font-size: 1.5em;
  }

  .introBox p {
    font-size: 0.9em;
  }

  .content {
    width: 80%;
  }

  .header h1 {
    font-size: 1.8em;
  }

  .content h2 {
    font-size: 1.3em;
  }

  .content a {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
