  /* Custom Font */
  @font-face {
    font-family: 'origin';
    src: url('fonts/OriginTech\ personal\ use.ttf') format('truetype');
  }
  /* Custom Font */
  @font-face {
    font-family: 'roboto';
    src: url('fonts/roboto.ttf') format('truetype');
  }
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; /* Ensure it covers the full width */
    box-sizing: border-box;
}
.header h1 {
  font-family: 'origin', sans-serif;
  font-size: 2em;
  margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Optional: Add a semi-transparent background for the content area */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px;
    margin: 20px;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Optional: Add a semi-transparent background for the video area */
    padding: 10px;
    border-radius: 8px;
}
iframe {
    width: 100%;
    border: none;
}
.video-title {
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

 /* Buy Me Coffee Button Styles */
  .buy-me-coffee,
  .copy-text, 
  .back-to-main-menu {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .buy-me-coffee:hover,
  .copy-text:hover, 
  .back-to-main-menu:hover {
    background-color: #e0a82d;
    text-decoration: underline;
  }

  .buy-me-coffee {
    bottom: 40px;
    right: 20px;
  }

  .copy-text {
    bottom: 20px;
    right: 20px;
  }

  .back-to-main-menu {
    bottom: 40px;
    left: 20px;
}
