body {
    background-image: url('images/background.png');
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.join-button-container {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.join-button {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #e0a82d;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: #ffffff;
}

.clan {
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.clan-image {
    width: 100%; /* Make the clan image width adjust to the grid width */
    height: auto;
    margin-bottom: 20px;
    max-width: 800px; /* Set a maximum width so it does not become too large */
}

.members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px; /* Set a maximum width for the grid */
    margin: 0 auto; /* Center the grid within its container */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px; /* Optional: to round the corners of the grid container */
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-name {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

  /* Buy Me Coffee Button Styles */
  .buy-me-coffee,
  .copy-text, 
  .back-to-main-menu {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .buy-me-coffee:hover,
  .copy-text:hover, 
  .back-to-main-menu:hover {
    background-color: #e0a82d;
    text-decoration: underline;
  }

  .buy-me-coffee {
    bottom: 40px;
    right: 20px;
  }

  .copy-text {
    bottom: 20px;
    right: 20px;
  }

  .back-to-main-menu {
    bottom: 40px;
    left: 20px;
}

