body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.png');
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
/* Custom Font */
@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto.ttf') format('truetype');
  }
  
 
  /* Custom Font */
  @font-face {
    font-family: 'origin';
    src: url('fonts/OriginTech\ personal\ use.ttf') format('truetype');
  }
  
.title {
    font-family: 'origin', sans-serif;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    text-align: center;
    padding: 30px;
    font-weight: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the title is above other content */
}
.outer-container {
    width: 100%;
    overflow-x: auto; /* Add horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    display: flex;
    align-items: center;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.container {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    box-sizing: border-box;
    width: max-content; /* Ensure container width is determined by its content */
    margin: 0 auto; /* Center the container within the outer container */
}

.spacer {
    flex: 0 0 10px; /* Adjust the spacer width as needed */
}

.panel {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    margin: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
}

.panel .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: none;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.panel img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel:hover {
    transform: scale(1.1);
}

/* Buy Me Coffee Button Styles */
.buy-me-coffee,
.copy-text,
.back-to-main-menu {
  position: fixed;
  background-color: transparent;
  color: #fff;
  padding: 7px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.7em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.buy-me-coffee:hover,
.copy-text:hover,
.back-to-main-menu:hover {
  background-color: #e0a82d;
  text-decoration: underline;
}

.buy-me-coffee {
  bottom: 40px;
  right: 20px;
}

.copy-text {
  bottom: 20px;
  right: 20px;
}

.back-to-main-menu {
  bottom: 40px;
  left: 20px;
}

/* Media Queries for responsiveness */
@media (min-width: 375px) and (max-width: 667px) {
    .panel {
        width: 60vw; /* Adjust for small screens like 375x667 */
    
    }
        
    .title {
        font-size: 2em; /* Smaller font size for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (min-width: 360px) and (max-width: 740px) {
    .panel {
        width: 60vw; /* Adjust for small screens like 375x667 */
    
    }
        
    .title {
        font-size: 2em; /* Smaller font size for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (min-width: 600px) {
    .panel {
        width: 45vw; /* Adjust for medium screens */
    }
}

@media (min-width: 900px) {
    .panel {
        width: 30vw; /* Adjust for larger screens */
    }
}

/* Stop adjusting size after a certain threshold */
@media (min-width: 1200px) {
    .panel {
        width: 300px; /* Fixed width for large screens */
        height: 800px; /* Ensure height remains consistent */
    }
        
    .title {
        font-size: 2em; /* Smaller font size for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}